// Dropzone


.dropzone
    cursor: pointer
    background-color: #f1f1f1
    border-radius: 8px
    padding: 120px 24px 32px 24px
    text-align: center
    vertical-align: middle
    min-height: 320px
    border: 3px dashed #c6c7ca


.dz-message i 
    color: #95a3a9
    font-size: 48px
    margin-bottom: 8px

.message
    color: #95a3a9

.disclaimer
    margin-top: 16px
    color: rgba(0, 0, 0, .3)
    font-size: 11px
    line-height: 20px